/.cursor

# Logs and Execution History
logs/
*.log
spark-events/
files/

# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Models and ML Checkpoints
models/
*.pkl
*.joblib

# IDEs
.vscode/
.idea/

# Docs
*.md
!README.md
